<%= form_for(@photo) do |f| %>
  <% if @photo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@photo.errors.count, "error") %> prohibited this photo from being saved:</h2>

      <ul>
      <% @photo.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    タイトル<br />
    <%= f.text_field :title, :size => "27" %>
  </div>
  <div class="field">
    ファイル<br />
    <%= f.file_field :imagefile %> jpeg, png形式に対応
  </div>
  <div class="field">
    説明<br />
    <%= f.text_area :description, :size => "20x5" %>
  </div>
  <div class="field">
    タグ<br />
    <%= f.text_field :tag, :size => "27" %>
  </div>
   <div class="actions">
    <%= f.submit '追加' %>
   </div>
<% end %>
